<h1>Категории скидок</h1>
<div class="buttons_panel">
  <%= link_to 'Новая категория', new_admin_sale_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<section id="sales">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Категория родитель</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	<%= render @sales %>
    </tbody>
  </table>
</section>
