			<%# render 'shared/catslider' %> 
			<%# render 'shared/catnav' %> 
			<%# render 'shared/src' %> 
<h1>Слайдер</h1>
<div class="buttons_panel">
  <%= link_to 'Новый слайд', new_admin_slider_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<br>

<section id="sliders">
  <table class="table">
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Изображение</th>
        <th>Позиция</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	<%= render @sliders %>
    </tbody>
  </table>
</section>
