			<%# render 'shared/catslider' %> 
			<%# render 'shared/catnav' %> 
			<%# render 'shared/src' %> 
<div class="buttons_panel">
  <%= link_to 'Новая категория', new_admin_slider_path, class: 'btn btn-outline-primary btn-sm' %>
</div>
<br>
 <%= render @sliders %>
</div>
</div>

