	    <div class="container text-center text-md-left">

	        <!-- Grid row -->
	        <div class="row justify-content-center">

	            <!-- Grid column -->
	            <div class="col-lg-2 col-md-3 fotnav">

	                <!-- Links -->
	                <h5 class="font-weight-bold fzagnav text-uppercase mt-3 mb-2">kazanlike</h5>

	                <ul class="list-unstyled">
	                    <li>
	                        <a href="#!">О проекте</a>
	                    </li>
	                    <li>
	                        <a href="#!">Контакты</a>
	                    </li>
	                    <li>
	                        <a href="#!">Партнерам</a>
	                    </li>
	                </ul>

	            </div>
	            <!-- Grid column -->


	            <!-- Grid column -->
	            <div class="col-lg-2 col-md-3 fotnav">

	                <!-- Links -->
	                <h5 class="font-weight-bold fzagnav text-uppercase mt-3 mb-2">новости</h5>

	                <ul class="list-unstyled">
	                    <li>
	                        <a href="#!">Самое свежее</a>
	                    </li>
	                    <li>
	                        <a href="#!">Популярное</a>
	                    </li>
	                    <li>
	                        <a href="#!">Интересное</a>
	                    </li>
	                </ul>

	            </div>
	            <!-- Grid column -->


	            <!-- Grid column -->
	            <div class="col-md-3 col-lg-2 fotnav">

	                <!-- Links -->
	                <h5 class="font-weight-bold fzagnav text-uppercase mt-3 mb-2">МЕСТА</h5>

	                <ul class="list-unstyled">
	                    <li>
	                        <a href="#!">Мероприятия 1</a>
	                    </li>
	                    <li>
	                        <a href="#!">Рестораны 2</a>
	                    </li>
	                    <li>
	                        <a href="#!">Культура 3</a>
	                    </li>
	                    <li>
	                        <a href="#!">Театр и кино 4</a>
	                    </li>
	                </ul>

	            </div>
	            <!-- Grid column -->


	            <!-- Grid column -->
	            <div class="col-md-3 fotnav">

	                <!-- Links -->

	                <h5 class="font-weight-bold fzagnav text-uppercase mt-3 mb-2">СКИДКИ</h5>

	                <ul class="list-unstyled text-white">
	                	<% if user_signed_in? %> 
	                    <li>
	                    	<%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
	                    </li>
	                    <% else %>
	                    <li>
	                        <a href=" <%= new_user_session_path %> ">Войти</a>
	                    </li>
	                    <% end %>
	                    <li>
	                        <a href=" <%= new_user_registration_path %> ">Регистрация</a>
	                    </li>
	                </ul>

	            </div>
	            <!-- Grid column -->
	            <div class="col-lg-3 col-md-4 text-center flogo pb-2">
	                <%= image_tag "logo.png", class: "rounded mx-auto d-block", alt: "kznlike" %>
	                <div class="soc-fbt"> <span class="text-uppercase font-weight-bold">присоединяйся к нам</span> <br>

	                    <i class="fab fa-facebook-square fa-2x"></i>
	                    <i class="fab fa-google-plus-square fa-2x"></i>
	                    <i class="fab fa-vk fa-2x"></i>
	                    <i class="fab fa-odnoklassniki-square fa-2x"></i>
	                    <i class="fab fa-twitter-square fa-2x"></i>
	                </div>
	            </div>

	        </div>
	        <!-- Grid row -->

	    </div>
	    <!-- Footer Links -->

	    <!-- Copyright -->
	    <div class="footer-copyright text-center py-3">© 2018 Copyright:
	        <a href="#"> Kazanlike.ru</a>
	    </div>