<div class="row sort">
        <div class="col-lg-2 col-5 col-md-4 offset-lg-5">
            <button class="kz-btn dropdown-toggle ml-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировать</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">По названию</a>
                <a class="dropdown-item" href="#">По дате</a>
                <a class="dropdown-item" href="#">Как угодно</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-5 offset-2 offset-md-4 offset-lg-0">
            <button class="kz-btn"><%= image_tag "map.svg", class: "mapicon", size: "14x20"%>На карте</button>
        </div>
    </div>