<div class="container search">
    <form class="form-group search-form" action="">
        <div class="form-row">
            <div class="col-md-6 mb-3 cats">
            <input class="form-control" type="text" placeholder="  Поиск скидок">
            </div>
            <div class="col-md-3 mb-3 d-none d-md-block cats">
                <select class="form-control" name="type" id="">
            <option selected value="">Тип скидки</option>
            <option value="скидка">Скидка</option>
            <option value="2 за 1">2 за 1</option>
            <option value="cahback">Кешбэк</option></select>
            </div>
            <div class="col-md-2 mb-3 cats">
        <button class="kz-btn form-control d-none d-md-block">Поиск</button>
            </div>
        </div>
    </form>
</div>