<% content_for :mtitle, @event.mtitle %>
<% content_for :mdescription, @event.mdescription %>

<% content_for :title, @event.name %>
<% content_for :type, 'places' %>

<div class="tiding"> 	<%# Класс поменяй %>
    <div class="row offer_bloks">
        <%= render @places %>
    </div>
</div>
<div class="paginator d-flex justify-content-center">
	<nav aria-label="Page navigation">
		<%= will_paginate @places, renderer: @custom_paginate_renderer %>
	</nav>
</div>