<% content_for :type, 'posts' %>
<div class="buttons_panel">
  <%= link_to 'Новая новость', new_admin_post_path, class: 'btn btn-outline-primary btn-sm'  if user_signed_in?%>
</div>

<br>

<div class="sale">
    <div class="row offer_bloks">

 <%= render @posts %>
</div>
</div>

<div class="paginator d-flex justify-content-center">
	<nav aria-label="Page navigation">
		<%= will_paginate @posts, renderer: @custom_paginate_renderer %>
	</nav>
</div>