<style type="text/css">
   .mod-el { 
    border: solid; /* Размер шрифта */
    border-color: #C55819; /* Цвет текста */
    border-radius: 10px;
    text-align: center;
    background-color: #C55819;
   }
   a.moder{
    color:black;
    font-size: 22px;
   }
  </style>
<h1>Модерация</h1>
<div class="row offer_bloks">
 <div class="col-md-4 col-sm-12 offer_bloks_el mod-el">
      <a href="/moder/discounts" class="moder">
          <div class="offers_elem">
           Корзина скидкок
          </div>
      </a>
  </div>
   <div class="col-md-4 col-sm-12 offer_bloks_el mod-el">
      <a href="/moder/places" class="moder">
          <div class="offers_elem">
           Корзина мест
          </div>
      </a>
  </div>
   <div class="col-md-4 col-sm-12 offer_bloks_el mod-el">
      <a href="/moder/posts" class="moder">
          <div class="offers_elem">
           Корзина новостей
          </div>
      </a>
  </div>
</div>
