<% content_for :type, 'places' %>
<% if user_signed_in? %>
<div class="buttons_panel">
  <%= link_to 'Новое место', new_admin_place_path, class: 'btn btn-outline-primary btn-sm' %>
</div>	
<br>
<% end %>

<div class="places" id="places">
 <%= render 'places' %>
</div>

